body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(177, 105, 185, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #ff4081;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ff4081;
}

a {
    color: #ff4081;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.edit-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff4081;
    color: white;
    border-radius: 4px;
}

a.edit-link:hover {
    background-color: #ff0057;
}