body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(177, 105, 185, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #ff4081;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #ff4081;
    color: #fff;
}

form {
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff0057;
}

a {
    color: #ff4081;
    text-decoration: none;
}