body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(177, 105, 185, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

li a {
    display: block;
    padding: 10px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #ff0057;
}

li a strong {
    font-weight: bold;
}

li:nth-child(1) a {
    background-color: #ff4081;
}

li:nth-child(2) a {
    background-color: #ff6699;
}

li:nth-child(3) a {
    background-color: #ff99cc;
}

li:nth-child(4) a {
    background-color: #ffb3e6;
}