body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(177, 105, 185, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #ff4081;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #ff4081;
    color: #fff;
}

blockquote {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff0f6;
    border-left: 4px solid #ff4081;
    color: #ff4081;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff4081;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff4081;
    border-radius: 4px;
}

input[type="hidden"],
input[type="submit"] {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff0057;
}

a {
    color: #ff4081;
    text-decoration: none;
}